  *{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
  }
  body{
    margin: 0px;
    padding: 0px;
    min-width: 700px;
  }
  .top {
    margin: auto;
    display: flex;
    position: sticky; z-index: 2; top: 0px;
    background-color: white;
    border-bottom: 2px solid #7dcff7;
    height: 80px;
    margin: auto;
  }
  .top img {
    margin: 0px;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 15px;
    width: 60px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    padding: 15px;
    padding-right: 10px;
    display: flex;
    margin: 0;
  }
  .area {
    margin: auto;
    display: flex;
    width: 270px;
  }
  .searchArea {
    display: flex;
    justify-content: flex-end;
    width: 250px;
    height: 35px;
    margin-top: 20px;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: none;
  }
   .searchArea input {
    border: none;
    background: none;
    width: 210px;
    height: 30px;
    margin-right: 5px;
    margin-left: 3px;
  }
  .searchArea img {
    margin: 0;
    margin-top: 7px;
    margin-right: 5px;
    width: 20px;
    cursor: pointer;
  }
    .menu #active{
      color: #00ace6;
      background-color: #7dcff7;
    }
    .menu {
      text-align: center;
      left: 1px;
      font-size: 20px;
      width: 150px;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .menu li {
      padding: 20px;
    }
    .menu li:hover {
      color: #ffffff;
      background-color: #7dcff7;
    }
    #grid{
      display: grid;
      grid-template-columns: 150px 1fr;
      border-bottom: 2px solid #7dcff7;
    }
    @media(max-width:800px){
      #grid{
        display: block;
      }
      .menu {
        display: block;
      }
      .menu > li {
        display: flex;
      }
      .menu > li > a {
        text-align: center;
      }
    }
    #article a[href^="https"] {
      color: purple;
    }
    .subMenu {
      display: flex;
      border-bottom: 1px solid #cccccc;
    }
    .subMenu > li {
      font-size: 18px;
      background-color: white;
      display: flex;
      padding-top: 10px;
      padding-bottom: 10PX;
    }
    .subMenu > li > a {
      background-color: white;
      text-align: center;
      padding-left: 40px;
      padding-right: 40px;
    }
    .subMenu > li:not(:last-child) > a{
      border-right: 1px solid #cccccc;
    }
    .subMenu #active{
      border-bottom: 5px solid #27aef1;
    }
    .subMenu li:hover{
      border-bottom: 5px solid #27aef1;
    }
    #article_body{
      padding:20px;
    }
  </style>
